<!DOCTYPE html>
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/mycss.css' %}" />
{% endblock extra_css %}

<html>
    <head>
        <title>{% block title %}P&aacute;gina principal{% endblock %}</title>

        {% block scripts %} {% endblock scripts %}
    </head>

    <body>
        <div id="header">
            {% block header %}

            <a href="/"><img id="logo" src="{% static 'images/logo_psi.png' %}" /></a>

            <div id="subheader">
                <div id="busqueda">
                {% block subheader %}
                     <form action = "/workflow_search/" method="post">
                         {% csrf_token %}
                         B&uacute;squeda: <input name="key" maxlength="128" type="text">
                         <input value="byName" name="byName" type="submit">
                     </form>
                {% endblock subheader %}
                </div>
            </div>
            {% endblock header %}
        </div>

        <div id="content">
            {% block content %}


            {% endblock content %}
        </div>

        <div id="footer">
            {% block footer %}

            Copyright &copy; 2018 | J&M Workflows

            {% endblock footer %}
        </div>

    </body>
</html>