{% extends "base.html" %}

{% block title %} Detalle {% endblock %}

{% block subheader %}

    <form action = "/workflow_search/" method="post">
        {% csrf_token %}
        Busqueda: <input name="key" maxlength="128" type="text">
        <input value="byName" name ="byName" type="submit">
    </form>

{% endblock subheader %}

{% block content %}

    {% if result == False %}
        <p> {{ error }}</p>

    {% else %}

        <div id="main" class="workflow-list pure-u-4-5">

            <h1>{{ workflow.name }}</h1>

            <h2>
                {% for item in workflow.category.all %}
                <a href="/workflow_list/{{item.slug}}"> {{ item.name }} </a>
                {% endfor %}
            </h2>

            <p><b>Keywords:</b> {{workflow.keywords}}</p>

            <p><b>Description:</b> {{workflow.description}}</p>

        </div>

    {% endif %}

{% endblock content %}